body {
  display: flex;
  justify-content: center;
}

body.light {
  background-color: beige;
  color: black;
}

body.dark {
  background-color: rgb(84, 84, 84);
  color: white;
}

#page-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  padding: 0.25em 0.5em;
}

#button-area {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-row {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.right-align {
  justify-content: flex-end;
}

button {
  cursor: pointer;
  padding: 0.25em 0.5em;
}

img {
  width: 100px;
}